<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356677141111-0vchr7o8m8ts4b9uvonk742sbnp7sf1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356677141111-0vchr7o8m8ts4b9uvonk742sbnp7sf1g</string>
	<key>API_KEY</key>
	<string>AIzaSyCB3JtHGlSTkGvOYQyNy-JQ6F9tnU14Brk</string>
	<key>GCM_SENDER_ID</key>
	<string>356677141111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Gahzwni.Rfoof</string>
	<key>PROJECT_ID</key>
	<string>rfooffirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>rfooffirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356677141111:ios:18eb69dc21d3878ed8fc72</string>
</dict>
</plist>